<div class="home_subscribe">
  <h2>Login</h2>
  
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.hidden_field :account_id, :value => current_account.id rescue nil%>
  
    <%= f.text_field :email, :placeholder => "Email" %></p>
  
    <%= f.password_field :password, :placeholder => "Password" %></p>
  
    <p><%= f.submit "Login" %></p>
  <% end %>
</div>  