<h1><%= @page_title = 'Notifications' %></h1>
<table id="notifications" cellpadding=10 cellspacing=10>
  <tr>
    <%= link_to('Add a new Notification', new_notification_url(params[:id])) %>
  </tr>
<% if @notification.blank? %>
  <tr>
    <th>No Record Found</th>
  </tr>
<% else %>
  <tr>
    <th>Badge</th>
    <th>Alert</th>
    <th>Sound</th>
    <th>Payload</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.badge %></td>
      <td><%= notification.alert %></td>
      <td><%= notification.sound %></td>
      <td><%= notification.payload %></td>
      <td><%= notification.status %></td>
      <td><%= link_to 'Show', notification %></td>
      <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
      <td><%= link_to 'Destroy', notification, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  <%#= will_paginate(@notifications) %>
<% end %>
</table>