<h1><%= @page_title = 'Notifications' %></h1>
<table id="notifications" cellpadding=10 cellspacing=10>
  <tr>
    <%= link_to('Add a new Notification', add_notification_path(params[:id])) %>
  </tr>
<% if @notifications.blank? %>
  <tr>
    <td>No Record Found</td>
  </tr>
<% else %>
  <tr>
    <% if @application.application_type == 'ios'%>
      <td>Badge</td>
    <% end %>
    <td>Alert</td>
    <% if @application.application_type == 'ios'%>
      <td>Sound</td>
    <% end %>
    <% if @application.application_type == 'android'%>
      <td>Extra Key</td>
      <td>Extra Value</td>
    <% end %>  
    <td>Status</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @notifications.each do |notification| %>
    <tr>
      <% if @application.application_type == 'ios'%>
        <td><%= notification.badge %></td>
      <% end %>  
      <td><%= notification.alert %></td>
      <% if @application.application_type == 'ios'%>
        <td><%= notification.sound %></td>
      <% end %>
      <% if @application.application_type == 'android'%>
        <td><%= notification.extra_key %></td>
        <td><%= notification.extra_value %></td>
      <% end %>
      <td>
        <%=
          if notification.status_is_preparing?
            "Preparing"
          elsif notification.status_is_scheduling?
            "Scheduling"
          elsif notification.status_is_dispatching?
            "Dispatching"
          elsif notification.status_is_done?
            "Done"
          end 
        %>
      </td>
      <td><%= link_to 'Show', show_notification_path(notification,:app_id => params[:id]) %></td>
      <td><%#= link_to 'Edit', edit_notification_path(notification,:app_id => params[:id]) %></td>
      <td><%#= link_to 'Destroy', notification, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= will_paginate(@notifications) %></td>  
  <tr>  
<% end %>
  <tr>
    <td><%= link_to 'Back to Applications', apps_url %></td>
  </tr>
</table>