<h1>Create Notification</h1>
  <% if flash[:err] %>
    <div class="errorExplanation">
      <h2>Errors encountered with your notification information:</h2>
      <ul>
        <% flash[:err].each do |m| %>
          <li><%= m[0] %> <%= m[1].slice!(0) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>  
<div class="home_subscribe">
  <table width="50%">
    <tr>
      <td>
        <%= form_for(@notification, :url => { :action => 'create' }) do |notification| %>
          <table cellpadding=10 cellspacing=10 id="notify">
            <tr>
              <td align="right">
                <b>Environment</b>
              </td>
              <td align="left">
                <%= notification.radio_button :environment, "production", :checked => true %> Production
                <%= notification.radio_button :environment, "sandbox" %> Sandbox
              </td>
            </tr>
            <% if @application.application_type == 'ios'%>    
              <tr>
                <td align="right">
                  <b>Badge</b>
                </td>
                <td align="left">
                  <%= notification.text_field :badge, :id => "id_badge", :maxlength => 3 %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td align="right">
                <b>Alert</b>
              </td>
              <td align="left">
                <%= notification.text_field :alert, :id => "id_alert" %>
              </td>
            </tr>
            <% if @application.application_type == 'ios'%>
              <tr>
                <td align="right">
                  <b>Sound</b>
                </td>
                <td align="left">
                  <%= notification.text_field :sound, :id => "id_sound" %>
                </td>
              </tr>
            <% else %>
              <tr>
                <td align="right">
                  <b>Extra Key</b>
                </td>
                <td align="left">
                  <%= notification.text_field :extra_key, :id => "id_extra_key" %>
                </td>
              </tr>
              <tr>
                <td align="right">
                  <b>Extra Value</b>
                </td>
                <td align="left">
                  <%= notification.text_field :extra_value, :id => "id_extra_value" %>
                </td>
              </tr>
            <% end %>
            <tr>
              <td align="right" valign="top">
                <b>Payload</b>
              </td>
              <td align="left">
                <%= notification.text_area :payload, :id => "id_payload", :value => '{"aps": {}}', :rows => "5" %>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td align="left">
                <input type="submit" value="Send Broadcast" />
              </td>
            </tr>
            <%= notification.hidden_field :app_id, :value => params[:id] %>
            <%= notification.hidden_field :app_type, :id => "app_type", :value => @payload_value %>
          </table>
        <% end %>
      <td> 
    </tr>
  </table>
</div>