<h1><%= @page_title = 'View Application' %></h1>
<table id="application"  cellpadding=10 cellspacing=10>
  <tr>
    <td width = "180px">Application Type</td>
    <td>:</td>
    <td><%= h(@application.application_type) %></td>
  </tr>
  <tr>
    <td>Name</td>
    <td>:</td>
    <td><%= h(@application.name) %></td>
  </tr>
  <tr>
    <td>Key</td>
    <td>:</td>
    <td><%= @application.key %></td>
  </tr>
  <% if @application.application_icon_file_name%>
  <tr>
    <td>Application Icon</td>
    <td>:</td>
    <td><%= image_tag (@application.application_icon(:thumb))%></td>
  </tr>
  <% end %>
  <% if @application.development_push_certificate_file_name %>
    <tr>
      <td>Developement Push Certificate</td>
      <td>:</td>
      <td><%= "[password]" %></td>
    </tr>
  <% end %>
  <% if @application.production_push_certificate_file_name %>
    <tr>
      <td>Production Push Certificate</td>
      <td>:</td>
      <td><%= "[password]" %></td>
    </tr>
  <% end %>
  <% if @application.c2dm_token %>
    <tr>
      <td>C2dm Authorization Token</td>
      <td>:</td>
      <td><%= @application.c2dm_token %></td>
    </tr>
  <% end %>
  <tr>
    <td>Created</td>
    <td>:</td>
    <td><%= @application.created_at.to_s(:short_day) %></td>
  </tr>
  <tr>
    <td><%= link_to :back, :action => 'index' %></td>
  </tr>
</table>
