<h1><%= @page_title = 'View Application' %></h1>
<table id="application"  cellpadding=10 cellspacing=10>
  <tr>
    <th>Name: </th>
    <td><%= h(@application.name) %></td>
  </tr>
  <tr>
    <th>Key: </th>
    <td><%= @application.key %></td>
  </tr>
  <% if @application.development_push_certificate %>
    <tr>
      <th>Developement Push Certificate : </th>
      <td><%= "[password]" %></td>
    </tr>
  <% end %>
  <% if @application.production_push_certificate %>
    <tr>
      <th>Production Push Certificate : </th>
      <td><%= "[password]" %></td>
    </tr>
  <% end %>
  <tr>
    <th>Created: </th>
    <td><%= @application.created_at.to_s(:short_day) %></td>
  </tr>
  <tr>
    <td><%= link_to :back, :action => 'index' %></td>
  </tr>
</table>