<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title><%= @page_title ? "#{@page_title} | #{ Saas::Config.app_name }" : Saas::Config.app_name %></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tag %>
		<%= stylesheet_link_tag 'reset-fonts.css', 'gt-styles.css', 'application.css', 'admin.css' %>
    <%= javascript_include_tag 'application' %>
		<%= yield :head %>
	</head>
	<body class="<%= controller.controller_path.gsub('/', ' ') %>">
		<!-- header -->
		<div class="header-container">
		  <div class="header">
		    <div class="left"></div>
		    <div class="right"></div>
		    <div class="banner">
		      <!-- logo -->
          <%
            if current_user
                path = apps_path
            else
                path = root_path
            end   
          %>
          <div class="logo">
            <%= link_to (image_tag "layouts/shared/logo.png"), path %> 
          </div>
          <!-- / logo -->
		      
		      <div class="top-links">
		        <% if content_for?(:header_links) %>
		          <%= yield :header_links %>
		        <% else %>
		          <% if current_user %>
                <%= link_to("Log out #{current_user.name}", destroy_user_session_path) %>
              <% end %>
            <% end %>
		      </div>
		    </div>
		  </div>
		  <div class="header-shadow"></div>
		</div>
		
		<div class="main-content-container">
		  <div class="main-content">
		    <%= flash_notices if !@do_not_display_flash_messages_in_layout %>
        <%= yield %>
		  </div>
  		<div class="spacer-div"></div>
		</div>
		
		<!-- footer -->
		<div class="footer-container">
		  <div class="footer">
		    <div class="text">
          Copyright &copy; BrightPush.in 2012
        </div>
        
        <div class="social-icons">
          <a href="#">
            <%= image_tag("layouts/application/footer-facebook-icon.png")%>
          </a>
          <a href="#">
            <%= image_tag("layouts/application/footer-twitter-icon.png")%>
          </a>
        </div>
        
        <div class="clearfix"></div>
			</div>
		</div>
		<!-- /footer -->
	</body>
</html>
